.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.bundle/
log/*.log
pkg/
spec/dummy/db/*.sqlite3
spec/dummy/log/*.log
spec/dummy/tmp/
*.swp
db/xapian_db
Gemfile.lock
spec/dummy/db
spec/dummy/company_logo_*
utools*.gem
spec/dummy/.sass-cache
.sass-cache
spec/dummy/db/xapian_db
spec/dummy/public/system
routes.txt
*.orig
architecture.png
.DS_Store
config/environment.rb
