<!DOCTYPE html>
<html>
<head>
  <title>CouchBlog</title>
  <%= stylesheet_link_tag    "couch_blog/application", :media => "all" %>
  <%= javascript_include_tag "couch_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
