- if alert
  .message.error.ui-state-error
    .icon
    .text
      =raw flash[:alert]
- if notice
  .message.notice.ui-state-highlight
    .icon
    .text
      =raw flash[:notice]
- if warnings.any?
  .message.warning.ui-state-highlight
    .icon
    .text
      %ul
        - for warning in warnings
          - if warning.is_a?(Hash)
            %li.warning= t("cmtool.warnings.#{warning.delete(:message)}", warning)
          - else
            %li.warning= t("cmtool.warnings.#{warning}")
